<p>this is a [[flancia]] test</p>
<p>other [[vera]] text in here</p>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<textarea autocomplete="off"></textarea>
<span>test</span>